{{define "base"}}
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="dark">
	{{template "head" .}}
    <body class="d-flex h-100 text-center">
		{{template "space" .}}
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			{{template "header" .}}
			{{template "main" .}}
			{{template "footer" .}}
		</div>
        {{ template "auth_offcanvas" . }}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/lume@0.3.0-alpha.11/dist/global.js"></script>
		<script src="assets/js/universe.js"></script>
		<script src="assets/js/earth.js"></script>
		<script src="assets/js/voice_ui.js"></script>
	</body>
</html>
{{end}}