{{define "base"}}
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="dark">
	{{template "head" .}}
    <body class="d-flex h-100 text-center">
		{{template "space" .}}
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			{{template "header" .}}
			{{template "main" .}}
			{{template "footer" .}}
		</div>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		<script src="https://unpkg.com/lume@0.3.0-alpha.11/dist/global.js"></script>
		<script src="assets/js/universe.js"></script>
		<script src="assets/js/earth.js"></script>
	</body>
</html>
{{end}}