{{define "title"}}Вход в систему{{end}}

{{define "description"}}Shanraq AI Family Doctor{{end}}

{{define "main"}}
<main class="px-3">
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Войти</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/login" method="POST" novalidate>
                         {{with .Flash}}
                        <div class="alert alert-danger" role="alert">{{.}}</div> {{end}}
                        {{/* with .Form.Errors.Credentials */}}
                         {{/* end */}}
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                             <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" name="email" required value="{{/* .Form.Email */}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="password" class="col-sm-2 col-form-label">Пароль</label>
                             <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>
                         <div class="row">
                             <div class="col-sm-10 offset-sm-2">
                                 <button type="submit" class="btn btn-primary">Войти</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Нет аккаунта?</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Регистрация</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <form action="/register" method="POST" novalidate class="needs-validation">
                            {{with .Flash}}
                            <div class="alert alert-info" role="alert">{{.}}</div>
                            {{end}}
                            <div class="mb-3 row">
                                <label for="gender" class="col-sm-3 col-form-label">Пол*</label>
                                <div class="col-sm-6">
                                    <select class="form-select {{with .Form.Errors.Gender}}is-invalid{{end}}" id="gender" name="gender" required>
                                        <option value="" {{if eq .Form.Gender ""}}selected{{end}} disabled>Выберите пол...</option>
                                        <option value="male" {{if eq .Form.Gender "male"}}selected{{end}}>Мужской</option>
                                        <option value="female" {{if eq .Form.Gender "female"}}selected{{end}}>Женский</option>
                                    </select>
                                    {{with .Form.Errors.Gender}}<div class="invalid-feedback">{{.}}</div>{{end}}
                                </div>
                                <label for="dob" class="col-sm-3 col-form-label">Дата рождения*</label>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control {{with .Form.Errors.DOB}}is-invalid{{end}}" id="dob" name="dob" required value="{{.Form.DOB}}">
                                    {{with .Form.Errors.DOB}}<div class="invalid-feedback">{{.}}</div>{{end}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="firstName" class="col-sm-3 col-form-label">Имя*</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control {{with .Form.Errors.FirstName}}is-invalid{{end}}" id="firstName" name="first_name" required value="{{.Form.FirstName}}">
                                    {{with .Form.Errors.FirstName}}<div class="invalid-feedback">{{.}}</div>{{end}}
                                </div>
                                <label for="lastName" class="col-sm-3 col-form-label">Фамилия*</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control {{with .Form.Errors.LastName}}is-invalid{{end}}" id="lastName" name="last_name" required value="{{.Form.LastName}}">
                                    {{with .Form.Errors.LastName}}<div class="invalid-feedback">{{.}}</div>{{end}}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="middleName" class="col-sm-3 col-form-label">Отчество</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control {{with .Form.Errors.MiddleName}}is-invalid{{end}}" id="middleName" name="middle_name" value="{{.Form.MiddleName}}">
                                    {{with .Form.Errors.MiddleName}}<div class="invalid-feedback">{{.}}</div>{{end}}
                                </div>
                                <label for="email" class="col-sm-3 col-form-label">Email*</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control {{with .Form.Errors.Email}}is-invalid{{end}}" id="email" name="email" required value="{{.Form.Email}}" placeholder="you@example.com">
                                    {{with .Form.Errors.Email}}<div class="invalid-feedback">{{.}}</div>{{end}}
                                </div>
                            </div>
    
                            <div class="mb-3 row">
                                <label for="phoneNumber" class="col-sm-3 col-form-label">Телефон*</label>
                                <div class="col-sm-6">
                                    <input type="tel" class="form-control {{with .Form.Errors.PhoneNumber}}is-invalid{{end}}" id="phoneNumber" name="phone_number" required value="{{.Form.PhoneNumber}}" placeholder="+7XXXXXXXXXX">
                                    {{with .Form.Errors.PhoneNumber}}<div class="invalid-feedback">{{.}}</div>{{end}}
                                </div>
                                <label for="password" class="col-sm-3 col-form-label">Пароль*</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control {{with .Form.Errors.Password}}is-invalid{{end}}" id="password" name="password" required minlength="8">
                                    <div class="form-text">Минимум 8 символов.</div>
                                    {{with .Form.Errors.Password}}<div class="invalid-feedback">{{.}}</div>{{end}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 offset-sm-3">
                                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to login</button>
            </div>
            </div>
        </div>
    </div>
</main>
{{end}}